extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1=pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cumque doloremque, assumenda nisi labore adipisci vel consectetur accusamus, maxime praesentium ullam amet nobis quod cum aliquid distinctio dolore veritatis ea?
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore soluta aut repudiandae non laboriosam quibusdam aliquam, praesentium porro est vel odio quod. Voluptas excepturi dolorum qui corrupti illo voluptatum iure.
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sequi optio quibusdam eligendi, hic laudantium impedit incidunt et culpa debitis cupiditate. Dolor sed obcaecati a pariatur ea veritatis quaerat magnam?
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur excepturi recusandae blanditiis odit impedit laudantium et libero sit veniam explicabo sed dolorem, aliquid, quod ullam reiciendis. Dignissimos similique deleniti ut!
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur excepturi recusandae blanditiis odit impedit laudantium et libero sit veniam explicabo sed dolorem, aliquid, quod ullam reiciendis. Dignissimos similique deleniti ut!
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur excepturi recusandae blanditiis odit impedit laudantium et libero sit veniam explicabo sed dolorem, aliquid, quod ullam reiciendis. Dignissimos similique deleniti ut!
