footer.container.py-5 
    div.row
        div.col-md-6
            nav.footer.justify-content-center.jusify-content-md-start 
                a.navlink(href="/nosotros") Nosotros
                a.navlink(href="/viajes") Viajes
                a.navlink(href="/testimoniales") Testimoniales 
        div.col
            p.copyright.text-center.text-md-right Todos los derechos reservados 
            span=actualYear  

               